.iframe{
	width: 100%;
	height: 500px;
}
.iframe1{
	width: 50%;
	height: 400px;
}
span{
	color: red;
}
h2{
	display: inline-block;
}
p{
	display: inline;
}
a{
	display: inline-block;
}